<!doctype html>
        <html>
<head>

</head>
<body>
<form action="" method="post">
    username<input name="username" type="text"><br>
    password<input name="password" type="password">
    <button type="submit">submit</button>
</form>
</body>
</html>