<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#demo-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"> </span>
                <span class="icon-bar"> </span>
                <span class="icon-bar"> </span>
            </button>
            <a class="navbar-brand" href="/manage/">花旗保险盒子</a>
        </div>

        <div class="collapse navbar-collapse" id="demo-navbar">
            <ul class="nav navbar-nav">
                <li><a href="#">特点</a></li>
                <li class="dropdown"><a href="orderlist" class="dropdown-toggle" data-toggle="dropdown">订单管理<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li> <a href="orderlist">订单列表</a></li>
                        <li> <a href="addorder">增加订单</a></li>
                        <li> <a href="modifyorder">修改订单</a></li>
                        <li> <a href="#">其他</a></li>
                    </ul>
                </li>
                <li><a href="#" data-toggle="modal" data-target="#about">关于</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">添加订单</div>
        <div class="panel-body">
            <p>在这里,您可以添加一个订单..</p>
            <p class="text-info">订单号自动生成..</p>
        </div>
        <form role="form" action="" method="post">
            <th>订单号</th><th>购买用户账户</th><th>购买产品名称</th><th>被保人姓名</th><th>购买时间</th><th>当前收益</th><th>修改信息</th><th>删除</th></tr>

            <div class="form-group">
                <label for="buyuseraccount">购买用户账户:</label>
                <input type="text" class="form-control" name="buyuseraccount" id="buyuseraccount">
            </div>
            <div class="form-group">
                <label for="productname">购买产品名称:</label>
                <input type="text" class="form-control" name="productname" id="productname">
            </div>
            <div class="form-group">
                <label for="insuredpeoplename">被保人姓名:</label>
                <input type="text" class="form-control" name="insuredpeoplename" id="insuredpeoplename" >
            </div>
            <div class="form-group">
                <label for="buytime">购买时间:</label>
                <input type="date" class="form-control" name="buytime" id="buytime">
            </div>

            <button type="submit" class="btn btn-default">确认</button>
        </form>
    </div>
</div>



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>
