<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#demo-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"> </span>
                <span class="icon-bar"> </span>
                <span class="icon-bar"> </span>
            </button>
            <a class="navbar-brand" href="/manage/">花旗保险盒子</a>
        </div>

        <div class="collapse navbar-collapse" id="demo-navbar">
            <ul class="nav navbar-nav">
                <li><a href="#">特点</a></li>
                <li class="dropdown"><a href="userlist" class="dropdown-toggle" data-toggle="dropdown">用户管理<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li> <a href="userlist">用户列表</a></li>
                        <li> <a href="adduser">增加用户</a></li>
                        <li> <a href="modifyuser">修改用户</a></li>
                        <li> <a href="#">其他</a></li>
                    </ul>
                </li>
                <li><a href="#" data-toggle="modal" data-target="#about">关于</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            添加用户
        </div>
        <div class="panel-body">
            <p>在这里,您可以添加一个用户..</p>
        </div>
    <form role="form" action="" method="post">
        <div class="form-group">
            <label for="account">账户:</label>
            <input type="text" class="form-control disabled" name="account" id="account">
        </div>
        <div class="form-group">
            <label for="username">姓名:</label>
            <input type="text" class="form-control" name="username" id="username"  >
        </div>
        <div class="form-group">
            <label for="sex">性别:</label>
            <input type="text" class="form-control" name="sex" id="sex">
        </div>
        <div class="form-group">
            <label for="tel">电话:</label>
            <input type="text" class="form-control" name="tel" id="tel" >
        </div>
        <div class="form-group">
            <label for="idnumber">身份证号码:</label>
            <input type="text" class="form-control" name="idnumber" id="idnumber" >
        </div>
        <div class="form-group">
            <label for="password">密码:</label>
            <input type="text" class="form-control" name="password" id="password" >
        </div>
        <div class="form-group">
            <label for="headpicture">头像链接:</label>
            <img width="80" height="80" src="{{HeadPicture}}" class="img-circle"/>
            <input type="text" class="form-control" name="headpicture" id="headpicture" >
        </div>
        <button type="submit" class="btn btn-default">确认</button>
    </form>
    </div>
</div>

<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>
