

<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#demo-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"> </span>
                <span class="icon-bar"> </span>
                <span class="icon-bar"> </span>
            </button>
            <a class="navbar-brand" href="/manage/">花旗保险盒子</a>
        </div>

        <div class="collapse navbar-collapse" id="demo-navbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#home">主页</a></li>
                <li><a href="#">特点</a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">管理<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li> <a href="#main">用户管理</a></li>
                        <li> <a href="#product">产品管理</a></li>
                        <li> <a href="#order">订单管理</a></li>
                        <li> <a href="#manage">消息处理</a></li>

                    </ul>
                </li>
                <li><a href="#" data-toggle="modal" data-target="#about">关于</a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="/images/main-big.png" alt="main-logo">
            <div class="carousel-caption">
                <h2>One 后台管理..</h2>
                <p>最前沿的管理后台...\(￣ˇ￣)>....吧..</p>
                <p><a class="btn btn-primary btn-lg" href="#"role="button">I want U</a></p>
            </div>
        </div>
        <div class="item">
            <img src="/images/user-big.png" alt="user">
            <div class="carousel-caption">
                <h2>用户管理</h2>
                <p>用户信息都在这里..~(￣▽￣)~ </p>
                <p><a class="btn btn-lg btn-primary" href="/manage/userlist" target="_blank" role="button">I want U</a></p>
            </div>
        </div>
        <div class="item">
            <img src="/images/product-big.png" alt="product">
            <div class="carousel-caption">
                <h2>产品管理</h2>
                <p>产品信息都在这里..ˋ( ° ▽、° ) </p>
                <p><a class="btn btn-lg btn-primary" href="/manage/productlist" target="_blank" role="button">I want U</a></p>
            </div>
        </div>
        <div class="item">
            <img src="/images/order-big.png" alt="order">
            <div class="carousel-caption">
                <h2>订单管理</h2>
                <p>快速查看订单..o(#￣▽￣)==O)</p>
                <p><a class="btn btn-lg btn-primary" href="/manage/orderlist" target="_blank" role="button">I want U</a></p>
            </div>
        </div>
        <div class="item">
            <img src="/images/message-big.png" alt="message-big">
            <div class="carousel-caption">
                <h2>消息管理</h2>
                <p>待处理消息都在这里..(*╯-╰)ノ </p>
                <p><a class="btn btn-lg btn-primary" href="#" target="_blank" role="button">I want U</a></p>
            </div>
        </div>
    </div>

    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 text-center">
            <img class="img-circle" src="/images/user-logo-small.jpg" alt="main">
            <h2>用户</h2>
            <p>老大说,用户就是是上帝..</p><p>（￣︶￣）↗</p>
            <p><a class="btn btn-default" href="/manage/userlist" target="_blank" role="button">I want U</a></p>
        </div>
        <div class="col-md-4 text-center">
            <img class="img-circle" src="/images/product-logo-small.jpg" alt="user">
            <h2>产品</h2>
            <p>**说,产品是核心载体..</p><p>♀（￣▽￣）／</p>
            <p><a class="btn btn-default" href="/manage/productlist" target="_blank" role="button">I want U</a></p>
        </div>
        <div class="col-md-4 text-center">
            <img class="img-circle" src="/images/order-logo-small.jpg" alt="message">
            <h2>订单</h2>
            <p>老三说,订单才是钱.. </p><p>(/≧▽≦)/~</p>
            <p><a class="btn btn-default" href="/manage/orderlist" target="_blank" role="button">I want U</a></p>
        </div>
    </div>
    <hr class="divider">

    <!--标签页-->
    <ul class="nav nav-tabs" role="tablist" id="tab-list">
        <li class="active"><a  href="#home" role="tab" data-toggle="tab">Home</a></li>
        <li><a href="#main" role="tab" data-toggle="tab">用户管理</a></li>
        <li><a href="#order" role="tab" data-toggle="tab">订单管理</a></li>
        <li><a href="#product" role="tab" data-toggle="tab">产品管理</a></li>
        <li><a href="#manage" role="tab" data-toggle="tab">消息管理</a></li>
    </ul>

    <div  class="tab-content">
        <div class="tab-pane active" id="home">
            <div class="row feature">
                <div class="col-md-5">
                    <img class="feature-image img-responsive" src="/images/main-logo.jpg" alt="Home">
                </div>
                <div class="col-md-7">
                    <h2 class="feature-heading">主页 <span class="text-muted small">description</span></h2>
                    <p class="lead">后台管理主页,提供各个功能模块的快捷入口</p>
                    <ul>
                        <li><a href="/manage/userlist">用户管理</a></li>
                        <li><a href="/manage/prductlist">产品管理</a></li>
                        <li><a href="/manage/orderlist">订单管理</a></li>
                        <li><a href="/manage/#">消息管理</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="main">
            <div class="row feature">
                <div class="col-md-7">
                    <h2 class="feature-heading">用户<span class="text-muted small">简介</span></h2>
                    <p class="lead">这是用户管理模块,可以查看并修改用户信息.</p>
                </div>
                <div class="col-md-5">
                    <img class="feature-image img-responsive" src="/images/user-logo.jpg" alt="main">
                </div>
            </div>
        </div>
        <div class="tab-pane" id="order">
            <div class="row feature">
                <div class="col-md-5">
                    <img class="feature-image img-responsive" src="/images/product-logo.jpg" alt="Order">
                </div>
                <div class="col-md-7">
                    <h2 class="feature-heading">订单<span class="text-muted small">简介</span></h2>
                    <p class="lead">这是订单管理模块,可以查看并修改订单信息.</p>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="product">
            <div class="row feature">
                <div class="col-md-7">
                    <h2 class="feature-heading">产品<span class="text-muted small">简介</span></h2>
                    <p class="lead">这是产品管理模块,可以查看并修改产品信息.</p>
                </div>
                <div class="col-md-5">
                    <img class="feature-image img-responsive" src="/images/product-logo.jpg">
                </div>
            </div>
        </div>
        <div class="tab-pane" id="manage">
            <div class="row feature">
                <div class="col-md-5">
                    <img class="feature-image img-responsive" src="/images/message-logo.jpg" alt="manage">
                </div>
                <div class="col-md-7">
                    <h2 class="feature-heading">消息<span class="text-muted small">简介</span></h2>
                    <p class="lead">这是消息管理模块,可以查看系统消息.</p>
                </div>
            </div>
        </div>
    </div>

    <hr class="divider">

    <footer>
        <p class="pull-right" style="border:3px black solid;padding:4px;border-radius:4px;"><a href="#top">return top</a></p>
        <p>From : Little Fire</p>
    </footer>
</div>

<div class="modal modal-fade" id="about">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="model-title" >关于</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8">
                        <h2 class="feature-heading" style="margin-top:60px;">花旗保险盒子<span class="small">锦囊妙计..</span></h2>
                        <p>老大说,放到盒子里才保险嘛..</p>
                        <p class="text-right"> by: Little Fire</p>
                    </div>
                    <div class="col-md-4">
                        <img class="img-responsive feature-image" src="http://i3.tietuku.com/feb1abc632ab7e5d.png" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">你们做的不错</button>
            </div>
        </div>
    </div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function(){
        $("#demo-navbar .dropdown-menu a").click(function(){
            var href = $(this).attr("href");
            $("#tab-list a[href='"+href+"']").tab("show");
        })
    })
</script>