<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#demo-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"> </span>
                <span class="icon-bar"> </span>
                <span class="icon-bar"> </span>
            </button>
            <a class="navbar-brand" href="#">One</a>
        </div>

        <div class="collapse navbar-collapse" id="demo-navbar">
            <ul class="nav navbar-nav">
                <li><a href="#">系统提示</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron text-center">
    <h1>{{message}}</h1>
    <p>下一步操作:</p>
    <ul>
        <li><a href="/manage/">回到主页</a></li>
        <li><a href="/manage/userlist">用户列表</a></li>
        <li><a href="javascript:history.go(-1);">返回上一步</a></li>
    </ul>
</div>