<form action="" method="post">
    <label for="UserName">UserName:</label><input type="text" name="UserName" id="UserName"><br>
    <label for="PassWord">PassWord:</label><input type="text" name="PassWord" id="PassWord"><br>
    <label for="Tel">Tel:</label><input type="text" name="Tel" id="Tel"><br>
    <label for="male">male:</label><input type="radio" name="Sex" id="male" value="male"><br>
    <label for="female">female:</label><input type="radio" name="Sex" id="female" value="female"><br>
    <label for="IdNumber">IdNumber:</label><input type="text" name="IdNumber" id="IdNumber"><br>
    <label for="HeadPicture">HeadPicture:</label><input type="text" name="HeadPicture" id="HeadPicture"><br>
    <label for="submit">submit:</label><input type="submit" name="submit" id="submit"><br>
</form>